.form {
  display: flex;
  flex-direction: column;
  background-color: #eaeaea;
}

.formtitle {

}

.forminput {
  padding: 10px;
  border-radius: 20px;
  border: 0px solid;
  background-color: #ffffff;
}

.formerror {
  color: red;
}
