.page {
  display: flex;
  flex-direction: column;
  margin: 10px;
  padding: 1px;
  border-radius: 20px;
  background-color: white;
  height: 100vh;
}

body {
  margin: 0;
  background-color: #dbdbdb;
}

root {
  margin: 0;
}

button, h1, h2, h3, p {
  font-family: Dubai, serif;
}

.btn {
  margin-bottom: 20px;
  border: none;
  background: none;
  border-radius: 20px;
  padding-left: 60px;
  padding-right: 60px;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: #00be55;
  color: whitesmoke;
  font-size: 18px;
  font-weight: bolder;
  cursor: pointer;
  text-decoration: none;
}

