<!-----Desktop Navbar----->
<nav class="navbar hidden lg:flex flex-row">
  <div class="links">
    <img (click)="GoHome()" class="logo" src="assets/logo.png" />
    <a class="link" routerLink="/">Home</a>
    <a class="link" routerLink="/projects">Projects</a>
  </div>
  <div>
    <a class="authlink" routerLink="/loginregister">{{authstatus}}</a>
  </div>
</nav>

<!-----Mobile Navbar----->
<nav class="lg:hidden flex flex-row items-center justify-between p-4 gap-4">

  <img #MobileMenu class="w-[40px] hover:cursor-pointer" src="assets/MobileMenuIcon.svg" (click)="OpenMobileMenu()" alt="mobilenavmenu"/>
  <a class="" routerLink="/">
    <img class="logo" src="assets/logo.png"  alt="homepagelink"/>
  </a>
  <a class="p-2 bg-green-500 rounded-[500px]" routerLink="/loginregister">
    @if (isLoggedIn) {
      <img class="w-[40px] hover:cursor-pointer" src="assets/ActiveLogin.svg" alt=""/>
    } @else {
      <img class="w-[40px] hover:cursor-pointer" src="assets/InActiveLogin.svg" alt=""/>
    }
  </a>

</nav>

@if (IsMobileMenuOpen) {
  <nav #MobileMenu class="lg:hidden fixed w-[300px] z-50 h-full bg-green-500">
    <ul class="flex flex-col items-center">
      <li><a class="mb-2 p-2 border-b-2 border-gray-300 text-white font-semibold" routerLink="/">Home</a></li>
      <li><a class="mb-2 p-2 border-b-2 text-white font-semibold" routerLink="/projects">Projects</a></li>
    </ul>
  </nav>
}


