<div class="authpage">

  <div class="formsection">
    <button class="formselection" (click)="SwitchForm()">Go {{status}}</button>
    <form class="form" *ngIf="Loginform" [formGroup]="loginform" (ngSubmit)="Login()">
      <p class="testheader">this is currently for testing, input any credentials to Login</p>
      <h3 class="username">Username</h3>
      <input class="forminput"  type="text" placeholder="Enter Username" [formControl]="this.loginform.controls.username" />
      <p *ngIf="loginform.get('username').hasError('required') && loginform.get('username').touched" class="text-red-600">username is required to be filled</p>
      <h3 class="password">Password</h3>
      <input class="forminput" type="text" placeholder="Enter Password" [formControl]="this.loginform.controls.password" />
      <p *ngIf="loginform.get('password').hasError('required') && loginform.get('password').touched" class="text-red-600">password is required to be filled</p>
      <input class="submit" type="submit" [disabled]="loginform.invalid" value="Login" />
    </form>

    <form class="form" *ngIf="Registerform" [formGroup]="registerformm" (ngSubmit)="Register()">
      <h3 class="username">Username</h3>
      <input class="forminput" type="text" placeholder="Enter Username" />
      <p *ngIf="registerformm.get('username').hasError('required') && registerformm.get('username').touched" class="text-red-600">username is required to be filled</p>
      <h3 class="username">Password</h3>
      <input class="forminput" type="text" placeholder="Enter Password" />
      <p *ngIf="registerformm.get('password').hasError('required') && registerformm.get('password').touched" class="text-red-600">password is required to be filled</p>
      <h3 class="username">Email</h3>
      <input class="forminput" type="text" placeholder="Enter Email..." />
      <p *ngIf="registerformm.get('email').hasError('required') && registerformm.get('email').touched" class="text-red-600">email is required to be filled</p>
      <p *ngIf="registerformm.get('email').hasError('email') && registerformm.get('email').touched" class="text-red-600">please input correct email</p>
      <input class="submit" type="submit" [disabled]="registerformm.invalid" value="Register" />
    </form>
  </div>

</div>
