<div class="userpanel">

  <div class="userinfosection">
    <h3>User Info</h3>
    <form class="userinfo"[formGroup]="userform">
      <img class="userpic" src="{{environment.backendurl}}/storage/Users/{{user.id}}/Images/{{user.profileimage}}" />
      <p class="userinfotitle">Username</p>
      <input [disabled]="edituserinfo" type="text" placeholder="{{user.username}}" />
      <p class="userinfotitle">Description</p>
      <input type="text" placeholder="{{user.description}}" />
      <p class="userinfotitle">Email</p>
      <input type="text" placeholder="{{user.email}}" />
      <p class="userinfotitle">Facebook</p>
      <input type="text" placeholder="{{user.facebook}}" />
      <p class="userinfotitle">Instagram</p>
      <input type="text" placeholder="{{user.instagram}}" />
      <p class="userinfotitle">X</p>
      <input type="text" placeholder="{{user.x_socialmedia}}" />
      <p class="userinfotitle">Phone Number</p>
      <input type="text" placeholder="{{user.phonenumber}}" />
      <input class="userinfosubmitbutton" type="submit" value="Update User Info" />
    </form>

    <div class="donationlogsection">
      <h2>Donation logs</h2>
      <p *ngIf=" userdonations === [] " >no donation logs available</p>
      <div *ngFor="let donation of userdonations">
        <p>{{donation.donationamount}}</p>
        <p>donated to {{donation.project.title}}</p>
        <p> {{donation.paymenttype}}</p>
      </div>
    </div>
  </div>

  <div class="projectsection">
    <div *ngIf="!userownsproject">
      <button class="projectrequestbutton" (click)="OpenFundForm()">No Project associated, would you like to create one...?</button>
      <app-fund-request-form *ngIf="openprojectform"></app-fund-request-form>
    </div>
    <div *ngIf="userownsproject">
      <img src="http://localhost:5116/storage/Projects/{{project.id}}/Images/{{project.imagesnames?.[0]}}" />
      <form [formGroup]="projectform">
        <div *ngFor="let image of project.imagesnames">
          <img src="http://localhost:5116/storage/Projects/{{project.id}}/Images/{{image}}" />
          <input type="file" (change)="onFileSelected($event)" accept="image/*" style="display:none">
        </div>
        <p>{{project.title}}</p>
        <p>{{project.description}}</p>
        <p>{{project.email}}</p>
        <input type="text" />
        <p>{{project.currentfund}}</p>
        <p>{{project.totalfundrequired}}</p>
        <input type="submit" value="Update Project Info" />
      </form>
      <button (click)="RemoveProject()">Remove Project</button>
    </div>
  </div>


</div>
